[flake8]
exclude =
  # No need to check the git repository
  .git,
  # ... or the python cache...
  __pycache__,
  # ... or build artifacts...
  docs/source/conf.py,old,build,dist,.eggs,
  # ... or our included code.
  ENV,lib,
  # Nothing from tox should be checked.
  .tox

ignore =
  # I don't want to use four spaces
  E111,E114,E128,E121,
  # And I like spaces around keyword parameters
  E251,
  # I grew up putting imports into the smalles possible scope to avoid leaking
  # symbols. I'll stick to that, thank you.
  E402,
  # Nothing wrong with multiple imports.
  E401

show-source = True
doctests = True
