[submodule "tests/OpenAPI-Specification"]
	path = tests/OpenAPI-Specification
	url = https://github.com/OAI/OpenAPI-Specification.git
[submodule "tests/openapi3-examples"]
	path = tests/openapi3-examples
	url = https://github.com/Mermade/openapi3-examples
