include LICENSE.txt
include README.rst
include CHANGES.rst
include COMPATIBILITY.rst
include requirements.txt
include tox.ini

recursive-include tests *
recursive-include docs *

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .token
global-exclude .*.sw*

prune docs/source/api
